# 1. 파이썬 시작하기 (1~10)

In [1]:
# 1
print('Hello World')

Hello World

In [3]:
# 2
print("Mary's cosmetics")

Mary's cosmetics

In [5]:
# 3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [12]:
# 4
print("C:\Windows")

C:\Windows

<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:2: SyntaxWarning: invalid escape sequence '\W'
C:\Users\user\AppData\Local\Temp\ipykernel_9548\926811910.py:2: SyntaxWarning: invalid escape sequence '\W'
  print("C:\Windows")

In [14]:
# 5
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
\n 줄바꿈
\t 탭

In [ ]:
# 6
오늘은 일요일

In [16]:
print ("오늘은", "일요일")

오늘은 일요일

In [18]:
# 7
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [20]:
# 8
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [22]:
# 9 **
print("first", end=""); print("second")

firstsecond

In [24]:
# 10
print(5/3)

1.6666666666666667

# 2. 파이썬 변수 (11~20)

In [30]:
# 11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [32]:
# 12 **
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [34]:
# 13
s = "hello"
t = "python"
print(s+'!', t)

hello! python

In [ ]:
# 14
8

In [36]:
2+2*3

8

In [40]:
# 15
a = "132"
print(type(a))

<class 'str'>

In [44]:
# 16 **
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [46]:
# 17 **
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [50]:
# 18 **
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [52]:
# 19
year = "2020"
print(int(year)-3)
print(int(year)-2)  
print(int(year)-1)

2017
2018
2019

In [54]:
# 20
월 = 48584
총금액 = 48584 * 36
총금액

1749024

# 3. 파이썬 문자열 (21~50)

In [67]:
# 21
letters = 'python'
letters[0], letters[2]

('p', 't')

In [69]:
letters = 'python'
print(letters[0], letters[2])

p t

In [71]:
# 22
license_plate = "24가 2210"
print(license_plate[4:8])

2210

In [73]:
license_plate = "24가 2210"
license_plate[4:8]

'2210'

In [77]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [80]:
# 23
string = "홀짝홀짝홀짝"
print(string[0], string[2], string[4])

홀 홀 홀

In [82]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [3]:
# 24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [5]:
# 25
phone_number = "010-1111-2222"
print(phone_number[:3], phone_number[4:8], phone_number[-4:])

010 1111 2222

In [7]:
phone_number = "010-1111-2222"
a = phone_number.replace("-", " ")
print(a)

010 1111 2222

In [9]:
# 26
phone_number = "010-1111-2222"
a = phone_number.replace("-", "")
print(a)

01011112222

In [13]:
# 27
url = "http://sharebook.kr"
a = url.split('.')
print(a[-1])

kr

In [ ]:
# 28
문자열은 수정불가!!!!!!

In [19]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [23]:
# 29
string = 'abcdfe2a354a32a'
a = string.replace('a', 'A')
print(a)

Abcdfe2A354A32A

In [27]:
string = 'abcdfe2a354a32a'
string[0] = 'A'
print(string)

TypeError: 'str' object does not support item assignment

In [ ]:
# 30 **
문자열은 변경X, replace 메서드 사용하면 그대로 출력

In [25]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [ ]:
# 31
두 문자열에 대한 덧셈 기호는 '문자열의 연결'

In [31]:
a = '3'
b = '4'
print(a + b)

34

In [ ]:
# 32
HiHiHi

In [35]:
print("Hi" * 3)

HiHiHi

In [37]:
# 33
print("-" * 80)

--------------------------------------------------------------------------------

In [39]:
# 34
t1 = 'python'
t2 = 'java'
a = t1+' '+t2+' '
print(a * 4)

python java python java python java python java

In [43]:
# 35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d"%(name1, age1))
print("이름: %s 나이: %d"%(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [46]:
# 36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [52]:
# 37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
# 38
정수형으로 변환하려면 int() 함수 사용!

In [54]:
상장주식수 = "5,969,782,550"
a = 상장주식수.replace(",","")
b = int(a)
print(b, type(b))

5969782550 <class 'int'>

In [56]:
# 39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [58]:
# 40
data = "   삼성전자    "
a = data.strip()
print(a)

삼성전자

In [60]:
# 41
ticker = "btc_krw"
a = ticker.upper()
print(a)

BTC_KRW

In [62]:
# 42
ticker = "BTC_KRW"
a = ticker.lower()
print(a)

btc_krw

In [ ]:
# 43 ?????

In [80]:
# 44 **
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [82]:
# 45 **
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [84]:
# 46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [88]:
# 47
a = "hello world"
a.split()

['hello', 'world']

In [90]:
# 48
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [96]:
# 49
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [104]:
# 50
data = "039490     "
data.rstrip()

'039490'

# 4. 파이썬 리스트 (51~70)

In [3]:
# 51
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [5]:
# 52
movie_rank + ['배트맨']

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [7]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [9]:
# 53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [11]:
# 54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.pop(3)
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [13]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [15]:
# 55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.pop()
movie_rank.pop()
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [17]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank[:2]

['닥터 스트레인지', '슈퍼맨']

In [19]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [23]:
# 56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [31]:
# 57
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [33]:
# 58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [35]:
# 59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [37]:
# 60
nums = [1, 2, 3, 4, 5]
a = sum(nums) / len(nums)
print(a)

3.0

In [39]:
# 61
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:7]

[100, 130, 140, 150, 160, 170]

In [41]:
# 62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [51]:
# 63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [53]:
# 64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [57]:
# 65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [67]:
# 66 ***
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(interest[0], interest[1], interest[2], interest[3], interest[4])

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [65]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [69]:
# 67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [73]:
# 68 ***
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [75]:
# 69 ***
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [79]:
# 70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 5. 파이썬 튜플 (71~80)

In [2]:
# 71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [6]:
# 72
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [8]:
# 73 #(1)만 작성하면 안됨
a = (1, )
print(type(a))

<class 'tuple'>

In [12]:
# 74 #튜플은 값을 변경할 수 없음!!
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [16]:
# 75 #튜플은 편의상 괄호 없이도 동작함
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [20]:
# 76  #값을 변경할 수 없기 때문에 새로 업데이트
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [24]:
# 77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
a = list(interest)
print(a,type(a))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [26]:
# 78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
a = tuple(interest)
print(a,type(a))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [28]:
# 79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [30]:
# 80 **
a = tuple(range(2, 100, 2))
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 6. 파이썬 딕셔너리 (81~100)

In [35]:
# 81 **
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [37]:
# 82 **
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [39]:
# 83 **
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [43]:
# 84
temp = {}
print(type(temp))

<class 'dict'>

In [47]:
# 85
a = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(a, type(a))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800} <class 'dict'>

In [49]:
# 86
a["죠스바"] = 1200
a["월드콘"] = 1500
print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [53]:
# 87
print("메로나 가격: ", a["메로나"])

메로나 가격:  1000

In [55]:
# 88
a["메로나"] = 1300
print(a)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [59]:
# 89
del a["메로나"]
print(a)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [61]:
# 90 #딕셔너리에 없는 키는 에러
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

In [63]:
# 91
inventory = {"메로나": [300,20], "비비빅": [400,3], "죠스바": [250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [71]:
# 92
print(inventory["메로나"][0], "원")

300 원

In [73]:
# 93
print(inventory["메로나"][-1], "개")

20 개

In [75]:
# 94
inventory["월드콘"] = [500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [77]:
# 95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
a = list(icecream.keys())
print(a)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [79]:
# 96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
a = list(icecream.values())
print(a)

[1200, 1200, 1800, 1500, 1000]

In [81]:
# 97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
a = sum(icecream.values())
print(a)

6700

In [83]:
# 98 **
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [91]:
# 99 **
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [95]:
# 100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 7. 파이썬 분기문 (101~130)

In [ ]:
# 101
bool은 true, false를 갖는 데이터 타입!

In [98]:
# 102 #false!
print(3 == 5)

False

In [100]:
# 103 #true!
print(3 < 5)

True

In [102]:
# 104 #true!
x = 4
print(1 < x < 5)

True

In [104]:
# 105 #true!
print ((3 == 3) and (4 != 3))

True

In [108]:
# 106 # => 이런 연산자는 없음..
print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2050462731.py, line 2)

In [110]:
# 107 # 출력X
if 4 < 3:
    print("Hello World")

In [112]:
# 108 # Hi, there
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [114]:
# 109 # 1 2 4
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [116]:
# 110 # 3 5
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [118]:
# 111
user = input("입력: ")
print(user*2)

입력:  안녕하세요

안녕하세요안녕하세요

In [120]:
# 112
user = int(input("숫자를 입력하세요: "))
print(user+10)

숫자를 입력하세요:  30

40

In [122]:
# 113
user = int(input())
if user%2 == 0:
    print("짝수")
else:
    print("홀수")

 30

짝수

In [126]:
# 114
user = int(input("입력값: "))
if user+20<255:
    print(user+20)
else:
    print(255)

입력값:  240

255

In [128]:
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값:  240

255

In [132]:
# 115
user = int(input("입력값: "))
if user-20<0:
    print(0)
elif user-20>255:
    print(255)
else:
    print(user-20)

입력값:  15

0

In [134]:
# 116
user = input("현재시간: ")
if user[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간:  03:10

정각이 아닙니다.

In [138]:
# 117
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 포도

정답입니다.

In [140]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("종목명: ")
if user in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명:  Microsoft

투자 경고 종목입니다.

In [148]:
# 119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은:  봄

정답입니다.

In [150]:
# 120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는과일은: ")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는과일은:  딸기

정답입니다.

In [152]:
# 121 **
user = input()
if user.islower():
    print(user.upper())
else:
    print(user.lower())

 a

A

In [154]:
# 122
score = int(input("score: "))
if 81<=score<=100:
    print("grade is A")
elif 61<=score<=80:
    print("grade is B")
elif 41<=score<=60:
    print("grade is C")
elif 21<=score<=40:
    print("grade is D")
else:
    print("grade is E")

score:  83

grade is A

In [160]:
# 123 **
환율 = {"달러": 1167, "엔": 1.096, "유로": 1268, "위안": 171}
user = input("입력: ")
금액, 통화명 = user.split()
print(float(금액) * 환율[통화명], "원")

입력:  100 달러

116700.0 원

In [164]:
# 124
user1 = int(input("input number1: "))
user2 = int(input("input number2: "))
user3 = int(input("input number3: "))
if user1 >= user2 and user1 >= user3:
    print(user1)
elif user2 >= user1 and user2 >= user3:
    print(user2)
else:
    print(user3)

input number1:  10
input number2:  9
input number3:  20

20

In [170]:
# 125
user = input("휴대전화 번호 입력: ")
if user[:3] == "011":
    print("당신은 SKT 사용자입니다.")
elif user[:3] == "016":
    print("당신은 KT 사용자입니다.")
elif user[:3] == "019":
    print("당신은 LGU 사용자입니다.")
else:
    print("알수없음")

휴대전화 번호 입력:  011-345-1922

당신은 SKT 사용자입니다.

In [172]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력:  011-345-1922

당신은 SKT 사용자입니다.

In [184]:
# 126
user = input("우편번호: ")
if user[:3] == "010" or user[:3] == "011" or user[:3] == "012":
    print("강북구")
elif user[:3] == "013" or user[:3] == "014" or user[:3] == "015":
    print("도봉구")
else:
    print("노원구")

우편번호:  010

강북구

In [186]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호:  010

강북구

In [190]:
# 127
user = input("주민등록번호: ")
a = user.split('-')[-1]
if a[:1] in ["1", "3"]:
    print("남자")
else:
    print("여자")

주민등록번호:  821010-4635210

여자

In [194]:
# 128
user = input("주민등록번호: ")
a = user.split('-')[-1]
if a[1:3] in ["00", "01", "02", "03", "04", "05", "06", "07", "08"]:
    print("서울 입니다")
else:
    print("서울이 아닙니다")

주민등록번호:  861010-1015210

서울 입니다

In [196]:
user = input("주민등록번호: ")
a = user.split('-')[-1]
if 0 <= int(a[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:  821010-1635210

서울이 아닙니다.

In [198]:
# 129
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호:  821010-1635210

유효하지 않은 주민등록번호입니다.

In [200]:
# 130 **
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

# 8. 파이썬 반복문 (131~200)

In [204]:
# 131 # 사과 귤 수박
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [206]:
# 132 # ##### ##### #####
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [208]:
# 133
a = ["A", "B", "C"]
for i in a:
    print(i)

A
B
C

In [210]:
print("A")
print("B")
print("C")

A
B
C

In [212]:
# 134
print("출력: A")
print("출력: B")
print("출력: C")

출력: A
출력: B
출력: C

In [214]:
# 135
print("변환: ", "a")
print("변환: ", "b")
print("변환: ", "c")

변환:  a
변환:  b
변환:  c

In [216]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [218]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [222]:
# 136
for i in [10, 20, 30]:
    print(i)

10
20
30

In [224]:
# 137
for i in [10, 20, 30]:
    print(i)

10
20
30

In [234]:
# 138
for i in [10, 20, 30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [238]:
# 139
print("++++")
for i in [10, 20, 30]:
    print(i)

++++
10
20
30

In [242]:
# 140
for i in [1,2,3,4]:
    print("-------")

-------
-------
-------
-------

In [244]:
# 141
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [246]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴: ", i)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

In [248]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [250]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [252]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [256]:
# 146
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x", i)

3 x 1
3 x 2
3 x 3

In [258]:
# 147
리스트 = [1, 2, 3]
for i in 리스트:
    print("3x", i, "=", 3*i)

3x 1 = 3
3x 2 = 6
3x 3 = 9

In [266]:
# 148
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [270]:
# 149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [274]:
# 150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [278]:
# 151
리스트 = [3, -20, -3, 44]
for i in 리스트[1:3]:
    print(i)

-20
-3

In [280]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [282]:
# 152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3 ==0:
        print(i)

3

In [284]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i < 20 and i%3 == 0:
        print(i)

12
18

In [288]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [292]:
# 155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [294]:
# 156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [298]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [300]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [312]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split = i.split(".")
    if split[-1] == "h":
        print(i)

intra.h
define.h

In [314]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split = i.split(".")
    if split[-1] == "h" or split[-1] == "c":
        print(i)

intra.h
intra.c
define.h